<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="text-uppercase text-center">Team Mighty max- An Overview!</h1>
    <p class="lead">
      Team Mighty Max consists of six members who are pursuing Software
      Engineering Technology at Centennial College; team members are expert in
      desiging, building and testing the software components in different phases
      of Software Development Life Cycle.
    </p>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/ashukor.jpg"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Abdul Shukor</h4>
          <p class="card-text">
            Designer / Developer
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.facebook.com"
            target="_blank"
            title="Facebook Page"
            class="fa-lg"
            ><i class="fab fa-facebook-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://twitter.com"
            target="_blank"
            title="Twitter"
            class="fa-lg"
          >
            <i class="fab fa-twitter-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://www.linkedin.com/in/abdul-shukor/"
            target="_blank"
            title="Linkedin"
            class="fa-lg"
          >
            <i class="fab fa-linkedin" style="color:black"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/anurai.jpg"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Abdulghafor Nurali</h4>
          <p class="card-text">
            Developer / Tester / Mongo Specialist
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.facebook.com"
            target="_blank"
            title="Facebook Page"
            class="fa-lg"
            ><i class="fab fa-facebook-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://twitter.com"
            target="_blank"
            title="Twitter"
            class="fa-lg"
          >
            <i class="fab fa-twitter-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://www.linkedin.com/in/abdulghafor-nurali-b17686181/"
            target="_blank"
            title="Linkedin"
            class="fa-lg"
          >
            <i class="fab fa-linkedin" style="color:black"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../assets/images/am.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">Ali Mokheamer</h4>
          <p class="card-text">
            Developer / DB Admin / Business Analyst
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.facebook.com"
            target="_blank"
            title="Facebook Page"
            class="fa-lg"
            ><i class="fab fa-facebook-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://twitter.com"
            target="_blank"
            title="Twitter"
            class="fa-lg"
          >
            <i class="fab fa-twitter-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://www.linkedin.com/in/ali-mokheamer/"
            target="_blank"
            title="Linkedin"
            class="fa-lg"
          >
            <i class="fab fa-linkedin" style="color:black"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <br />
  <div class="row text-center">
    <div class="col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../assets/images/bal.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">Bal Dhakal</h4>
          <p class="card-text">
            Designer / Developer
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.facebook.com"
            target="_blank"
            title="Facebook Page"
            class="fa-lg"
            ><i class="fab fa-facebook-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://twitter.com"
            target="_blank"
            title="Twitter"
            class="fa-lg"
          >
            <i class="fab fa-twitter-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://www.linkedin.com/in/bdhakal1/"
            target="_blank"
            title="Linkedin"
            class="fa-lg"
          >
            <i class="fab fa-linkedin" style="color:black"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../assets/images/bk.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">Bishnu Khanal</h4>
          <p class="card-text">
            Developer / Designer
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.facebook.com"
            target="_blank"
            title="Facebook Page"
            class="fa-lg"
            ><i class="fab fa-facebook-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://twitter.com"
            target="_blank"
            title="Twitter"
            class="fa-lg"
          >
            <i class="fab fa-twitter-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://www.linkedin.com/in/bishnu-khanal/"
            target="_blank"
            title="Linkedin"
            class="fa-lg"
          >
            <i class="fab fa-linkedin" style="color:black"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img class="card-img-top" src="../../../assets/images/sd.jpg" alt="" />
        <div class="card-body">
          <h4 class="card-title">Siddharth Pandya</h4>
          <p class="card-text">
            Developer / Systems Analyst / Tester
          </p>
        </div>
        <div class="card-footer">
          <a
            href="https://www.facebook.com"
            target="_blank"
            title="Facebook Page"
            class="fa-lg"
            ><i class="fab fa-facebook-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://twitter.com"
            target="_blank"
            title="Twitter"
            class="fa-lg"
          >
            <i class="fab fa-twitter-square" style="color:black"></i></a
          >&nbsp;
          <a
            href="https://www.linkedin.com/in/sid07/"
            target="_blank"
            title="Linkedin"
            class="fa-lg"
          >
            <i class="fab fa-linkedin" style="color:black"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
