<!-- Page Content -->
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="text-uppercase">Team Mighty max- An Overview!</h1>
    <p class="lead">
      Our team consists of six members who are pursuing to become Software
      Engineers. We are experts in designing, building, and testing software
      components in different phases of the Software Development Life Cycle (SDLC).
    </p>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/dumy1.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Abdul Shukor</h4>
          <p class="card-text">
            He is student of software engineering technology in centennial
            college. He has skills in software requirement analysis,
            documenting and validating them
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/dumy1.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Abdulghafor Nurali</h4>
          <p class="card-text">
            He is student of software engineering technology in centennial
            college. He has skills in software requirement analysis,
            documenting and validating them
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/aliMokheamer.jpeg"
          alt="Ali Mokheamer. A team member of Mighty Max"
        />
        <div class="card-body">
          <h4 class="card-title">Ali Mokheamer</h4>
          <p class="card-text">
            A student who's studying Software Engineering at Centennial
            College. He has skills in software requirements analysis,
            documenting, programming, and testing/validation.
          </p>
        </div>
        <div class="card-footer">
          <p>Social Media</p>
          <a href="https://www.linkedin.com/in/ali-mokheamer/" target="_blank"><i class="fab fa-lg fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <br />
  <div class="row text-center">
    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/dumy1.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Bal Dhakal</h4>
          <p class="card-text">
            He is student of software engineering technology in centennial
            college. He has skills in software requirement analysis,
            documenting and validating them
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/dumy1.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Bishnu Khanal</h4>
          <p class="card-text">
            He is student of software engineering technology in centennial
            college. He has skills in software requirement analysis,
            documenting and validating them
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="../../../assets/images/dumy1.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title">Siddharth Pandya</h4>
          <p class="card-text">
            He is student of software engineering technology in centennial
            college. He has skills in software requirement analysis,
            documenting and validating them
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
