<header class="masthead text-center text-white d-flex font-weight-bold">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">
          Class Room / Course COMP308 Environment Survey
        </h1>
        <br />
        <hr size="10" color="maroon" />
        <h4>
          The sole purpose of this survey is to understand the classroom
          environment to see how student are satisfied, particularly in relation to
          the course COMP308 - Emerging Technologies.
        </h4>
        <hr size="10" color="maroon" />
        <h5>
          Information will be confidential and will not affect your
          personal or academic status in any way.
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="card text-success">
          <div class="card-header">
            <h1>Start Your Classroom Survey</h1>
          </div>
          <div class="card-body">
            <h5>Please login to start a survey by clicking the button below</h5>
          </div>
          <div class="card-footer">
            <a
              class="btn btn-success"
              routerLink="/surveys"
              role="button"
            >
              <i class="fas fa-plus-circle js-scroll-trigger" routerLink="/survey"></i> Start a Survey Now</a
            >
            <a
              class="btn btn-dark"
              routerLink="/surveys/add"
              role="button" style="margin-left: 3%">
              <i class="fas fa-plus-circle js-scroll-trigger" routerLink="/surveys/add"></i> Create a Survey</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br />
        <p>
          Image Source:
          https://pixabay.com/photos/offices-business-computer-1181385/
        </p>
      </div>
    </div>
  </div>
</header>
