header {
  padding-top: 9rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../../../assets/images/details-page-img1.png");
  background-position: center;
  background-size: cover;
}
